* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background: #223140; */
}

/******************************************************* 
            LANDING PAGE STYLES 
***********************************************************/

#hero {
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero::after {
  content: "";
  background: url("../img/hero.svg");
  background-size: 100% 100%;
  background-color: #e8f0f5;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#index-nav {
  z-index: 99;
}
#hero h1 {
  font-size: 7em;
  color: #005182;
  margin-bottom: 0.4em;
}
#hero a {
  display: inline-block;
  width: 20%;
}
#hero button {
  padding: 0.7em;
  width: 100%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #009fff;
  background: rgba(128, 207, 255, 0.6);
  border: none;
  border: 1px solid #009fff;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#hero button:hover {
  color: white;
  background: #009fff;
}

@media (max-width: 769px) {
  #hero {
    background-size: 100% 100% 1% 100%;
  }

  #hero-content {
    position: absolute;
    top: 18%;
  }

  #hero h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  #hero button {
    padding: 0.3em;
  }
  #hero a {
    width: 70%;
    /* margin-bottom: 5em; */
  }
}
/******************************************************* 
            SIGN IN PAGE STYLES 
***********************************************************/
#signin-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#signin-section {
  padding-top: 7em;
}
#signin-section form {
  padding-top: 2em;
  background: rgba(128, 207, 255, 0.3);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signin-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid #80cfff;
  color: #80cfff;
}

#signin-section form input::placeholder {
  color: #80cfff;
}

#signin-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #009fff;
  background: rgba(128, 207, 255, 0.6);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signin-section form button:hover {
  color: white;
  background: #80cfff;
}

#signin-section a {
  color: #80cfff;
}

#signin-section p,
#signin-section h3 {
  margin-bottom: 1em;
}

#signin-section h3 {
  color: grey;
}

@media (max-width: 769px) {
  #signin-section form {
    width: 90%;
  }
  #signin-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signin-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            SIGN UP PAGE STYLES 
***********************************************************/

#signup-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#signup-section {
  padding-top: 7em;
}
#signup-section form {
  padding-top: 2em;
  background: rgba(128, 207, 255, 0.3);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#signup-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid #80cfff;
  color: #80cfff;
}

#signup-section form input::placeholder {
  color: #80cfff;
}

#signup-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #009fff;
  background: rgba(128, 207, 255, 0.6);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#signup-section form button:hover {
  color: white;
  background: #80cfff;
}

#signup-section a {
  color: #80cfff;
}

#signup-section p,
#signup-section h3 {
  margin-bottom: 1em;
}

#signup-section h3 {
  color: grey;
}

@media (max-width: 769px) {
  #signup-section form {
    width: 90%;
  }
  #signup-section form input {
    font-size: 1.2em;
    text-align: center;
  }
  #signup-section form button {
    padding: 0.5em;
    width: 76%;
  }
}

/******************************************************* 
            RESET PASSWORD PAGE STYLES 
***********************************************************/
#reset1-main,
#reset2-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#reset1-section {
  padding-top: 7em;
}
#reset1-section form {
  padding-top: 2em;
  background: rgba(128, 207, 255, 0.3);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#reset1-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid #80cfff;
  color: #80cfff;
}

#reset1-section form input::placeholder {
  color: #80cfff;
}

#reset1-section form button {
  padding: 0.7em;
  width: 74%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #009fff;
  background: rgba(128, 207, 255, 0.6);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#reset1-section form button:hover {
  color: white;
  background: #80cfff;
}

#reset1-section a {
  color: #80cfff;
}

#reset1-section p,
#reset1-section h3 {
  margin-bottom: 1em;
}

#reset1-section p {
  padding: 0 4.9em;
  margin-top: 2em;
  color: grey;
  font-size: 0.85em;
  padding-bottom: 1.4em;
}

#reset1-section h2 {
  text-align: center;
  font-size: 2em;
  color: #80cfff;
}

#reset1-section h3 {
  color: grey;
}

.reset2-header {
  padding-bottom: 2em;
}

@media (max-width: 769px) {
  #reset1-section form {
    width: 90%;
  }
  #reset1-section form input {
    font-size: 1em;
    text-align: center;
  }
  #reset1-section form button {
    padding: 0.5em;
    width: 76%;
  }

  #reset1-section p {
    padding: 0 2.9em;
    padding-bottom: 1em;
  }
}

/******************************************************* 
            HEADER AND NAVIGATION STYLES 
***********************************************************/

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  background: #80cfff;
  padding: 0;
  margin: 0;
  color: white;
  overflow: hidden;
  text-align: right;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 1em 1.5em;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .logo {
    position: fixed;
    top: 0;
    font-size: 1.1em;
    margin-top: 1.3em;
  }

  nav ul {
    max-height: 0px;
    background: #80cfff;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    background: #80cfff;
  }
}
/******************************************************* 
            FOOTER STYLES 
***********************************************************/

footer {
  height: 10vh;
  background: #012c46;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/******************************************************* 
            DASHBOARD PAGE STYLES 
***********************************************************/
#dashboard-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#create-group {
  padding-top: 6em;
  text-align: center;
}

#create-group button {
  background: rgba(128, 207, 255, 0.5);
  color: rgb(128, 207, 255);
  padding: 0.5em 0 0.5em 0;
  width: 20%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

#create-group button:hover {
  background: rgb(128, 207, 255);
  color: white;
}

#group-form {
  position: relative;
  margin-top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 50vw;
  background: #f4f7f8;
  padding: 3em;
  text-align: center;
}

#group-form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  font-size: 1.2em;
  border-bottom: 4px solid #80cfff;
  color: #80cfff;
}

#group-form button {
  background: rgba(128, 207, 255, 0.5);
  color: rgb(128, 207, 255);
  padding: 0.5em 0 0.5em 0;
  width: 20%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

button.cancel {
  color: red !important;
  background: rgba(248, 146, 146, 0.4) !important;
  transition: 0.7s;
}

.cancel:hover {
  color: white !important;
  background: rgb(255, 71, 71) !important;
}

#group-form button:hover {
  background: rgb(128, 207, 255);
  color: white;
}

#group-form input::placeholder {
  color: #80cfff;
}

#group-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}

#group-modal:target {
  opacity: 1;
  visibility: visible;
}

#group-modal:target .group-modal-content {
  opacity: 1;
  visibility: visible;
}

#member-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 1s;
}

#member-modal:target {
  opacity: 1;
  visibility: visible;
}

#member-modal:target .member-modal-content {
  opacity: 1;
  visibility: visible;
}

#member-form {
  position: relative;
  margin-top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  width: 50vw;
  background: #f4f7f8;
  padding: 1em;
  text-align: center;
}

#member-form button {
  margin-top: 1em;
  background: rgba(128, 207, 255, 0.5);
  color: rgb(128, 207, 255);
  padding: 0.5em 0 0.5em 0;
  width: 20%;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.6s;
  border-radius: 4px;
}

#member-form button:hover {
  background: rgb(128, 207, 255);
  color: white;
}

#member-scroll {
  height: 200px;
  overflow: auto;
}

#member-options {
  font-size: 1.5em;
  padding: 0.7em;
  border-bottom: 1px solid #80cfff;
  display: flex;
  justify-content: space-between;
}

.member-input {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#group-list {
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#group-list > a {
  position: absolute;
}
#group-card {
  padding: 1em;
  width: 220px;
}

#group-details {
  box-shadow: 0 4px 8px 0 rgba(240, 173, 173, 0.2);
  transition: 0.3s;
  text-align: center;
  border-radius: 0.3em;
  border: 5px solid rgba(128, 207, 255, 1);
  background-color: rgba(128, 207, 255, 0.4);
  color: #005182;
}

#group-details:hover {
  box-shadow: 0 3em 3em 0 rgba(0, 0, 0, 0.2);
}
#group-details h2 {
  margin-bottom: 1em;
}

#group-details button {
  padding: 0.7em;
  margin: 1em;
  color: rgba(0, 159, 255, 1);
  background: rgba(0, 159, 255, 0.4);
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bolder;
}

#group-details button:hover {
  background: rgba(0, 159, 255, 0.7);
  color: white;
  border: none;
}

@media (max-width: 769px) {
  #dashboard-main {
    height: 100%;
    overflow-x: auto;
  }

  #create-group button {
    width: 50%;
  }

  #group-form input {
    width: 100%;
  }

  #group-form button {
    width: 100%;
    margin: 5px;
  }

  #member-form {
    width: 70%;
  }

  #member-form button {
    margin-top: 1em;
    width: 100%;
    margin: 5px;
  }
}

/******************************************************* 
            INBOX PAGE STYLES 
***********************************************************/
#inbox-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#inbox-main h1 {
  text-align: center;
}
#inbox-main h3 {
  padding: 0.5em 0 0.5em 0;
}

#inbox-main h2 {
  display: flex;
  justify-content: space-between;
}

span.date {
  font-size: 0.7em;
}

#section-inbox {
  margin: 0 auto;
  padding-top: 5em;
  margin-left: 10em;
  margin-right: 4em;
}

#message-scroll {
  margin-top: 2.5em;
  height: 400px;
  overflow-x: auto;
  border-top: 1px solid #80cfff;
  background: rgba(156, 217, 255, 0.1);
}

#section-inbox a {
  text-decoration: none;
  color: #5f5252;
}
#section-inbox .messages {
  padding: 1em;
  border-bottom: 1px solid #80cfff;
  transition: ease-out 0.7s;
}
#section-inbox .messages:hover {
  background: #80cfff;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
}

@media (max-width: 769px) {
  #inbox-main {
    height: 100%;
    overflow-x: auto;
    padding-bottom: 3em;
  }
  #section-inbox {
    margin-left: 0;
    margin-right: 0;
  }

  #message-scroll {
    border-top: none;
    height: 70vh;
    overflow: auto;
  }
  .messages p {
    width: 90vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/******************************************************* 
            SENT MESSAGES STYLES 
***********************************************************/
#sent-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#sent-main h1 {
  text-align: center;
}
#sent-main h3 {
  padding: 0.5em 0 0.5em 0;
}

#sent-main h2,
#sent-main h3 {
  display: flex;
  justify-content: space-between;
}

#section-sent {
  margin: 0 auto;
  padding-top: 5em;
  margin-left: 10em;
  margin-right: 10em;
}

#section-sent .messages {
  padding: 1em;
  color: #5f5252;
  border-bottom: 1px solid #80cfff;
  transition: ease-out 0.7s;
}
#section-sent .messages:hover {
  background: #80cfff;
}

span.retract {
  font-size: 0.8em;
}

span.retract > button {
  padding: 0.5em 1.2em;
  border-radius: 0.2em;
  cursor: pointer;
  border: none;
  border: 1px solid red;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 159, 255, 0.4);
}

@media (max-width: 769px) {
  #sent-main {
    height: 100%;
    overflow-x: auto;
    padding-bottom: 3em;
  }
  #section-sent {
    margin-left: 0;
    margin-right: 0;
  }
}

/******************************************************* 
        MESSAGE THREAD STYLES 
***********************************************************/
#messages-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#section-messages {
  margin: 0 auto;
  padding-top: 5em;
  margin-left: 10em;
  margin-right: 10em;
}

#messages-nav {
  z-index: 1;
}

#section-messages h1 {
  text-align: center;
}

#section-messages h3 {
  font-weight: 200;
}

.message-response,
.message-reply {
  width: 30vw;
  margin: 1em;
  background: #80cfff;
  padding: 1em 1em 0.5em 1em;
  border-radius: 0.8em;
  color: #5f5252;
}
.message-reply {
  position: relative;
  left: 53%;
}

p.message-meta + p {
  position: absolute;
}

.message-reply p,
.message-response p {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

@media (max-width: 769px) {
  #messages-main {
    height: 100%;
    overflow-x: auto;
    padding-bottom: 3em;
  }
  #section-messages {
    margin-left: 0;
    margin-right: 0;
  }

  .message-response,
  .message-reply {
    width: 70vw;
    margin: 1em;
  }

  .message-reply {
    position: relative;
    left: 11%;
  }

  #section-messages h3 {
    font-weight: 200;
    font-size: 1em;
  }
}

/******************************************************* 
        COMPOSE PAGE STYLES 
***********************************************************/
#compose-main {
  height: 100vh;
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2380cfff' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#compose-section {
  margin: 0 auto;
  padding-top: 5em;
}

#compose-section form {
  padding-top: 2em;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
}

#compose-section form input {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  background: #e8f0f5;
  font-size: 1.2em;
  border-bottom: 4px solid #80cfff;
  color: #80cfff;
}

#compose-section form input::placeholder {
  color: #80cfff;
}

#compose-section h1 {
  text-align: center;
  margin-bottom: 1em;
}

#compose-section form button {
  padding: 0.7em;
  width: 72%;
  font-size: 1.1em;
  margin-bottom: 1em;
  color: #009fff;
  background: rgba(128, 207, 255, 0.6);
  border: none;
  transition: ease 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

#compose-section form button:hover {
  color: white;
  background: #80cfff;
}

textarea {
  margin-bottom: 3em;
  width: 68.5%;
  border: none;
  border-bottom: 4px solid #80cfff;
  background: #e8f0f5;
  color: #80cfff;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 900;
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: #80cfff;
  font-size: 1.2em;
  font-weight: 900;
}

@media (max-width: 769px) {
  #compose-main {
    height: auto;
  }

  #compose-section form {
    width: 90%;
  }
  #compose-section form input {
    font-size: 1.1em;
  }

  textarea {
    width: 66%;
  }

  textarea::-webkit-input-placeholder {
    font-size: 1em;
  }
  #compose-section form button {
    padding: 0.5em;
    width: 76%;
  }
}
